.project {
  background-color: var(--light-blue-gray);
  min-height: calc(100vh - 65px);
}

.main-content {
  padding: 40px 60px;
  transition: margin-left 0.3s ease;
}

.main-content-full {
  margin-left: 0;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: var(--font-size-24);
  font-weight: bolder;
  color: var(--dark-gray);
}
.stats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stats-card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #f3f4f6;
  padding: 1.5rem;
  transition: all ease 0.3s;
}

.stats-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.stats-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.stats-text {
  flex: 1;
}

.stats-text h3 {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--light-gray);
  margin-bottom: 0.5rem;
}

.stats-value {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--dark-gray);
  margin-bottom: 0.25rem;
}

.stats-details {
  font-size: 0.875rem;
  color: var(--light-gray)
}

.stats-icon {
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  aspect-ratio: 1;
  font-weight: bolder;
  font-size: 1.3rem;
}

.stats-icon.blue {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.stats-icon.purple {
  background-color: var(--light-purple);
  color: var(--dark-purple);
}

.stats-icon.green {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.stats-icon.yellow {
  background-color: var(--light-yellow);
  color: var(--dark-yellow);
}