<div class="header" id="header">
  <i id="menuToggle" class="menu-icon fa-solid fa-bars"></i>
  <div class="project-title">{{project_name}}</div>
  <div class="project-subtitle status-{{ project_status|lower }}">{{project_status}}</div>
  <a href="{% url 'user_profile' %}" class="user-icon-link">
    <div class="user-header-photo">
      {% if user.userinfo.photo %}
      <img src="{{ user.userinfo.photo.url }}" alt="{{ user.username }}" class="user-header-image" />
      {% else %}
      <i class="user-icon fa-solid fa-circle-user"></i>
      {% endif %}
    </div>
  </a>
</div>