<div class="sidebar" id="sidebar">
  <h1 class="sidebar-title">任務管理系統</h1>
  <div class="sidebar-content">
      <div class="sidebar-menu">
          <a href="#" class="sidebar-item active">
              <i class="sidebar-item-icon fa-solid fa-home"></i>
              <div>首頁</div>
          </a>
          <a href="#" class="sidebar-item">
              <i class="sidebar-item-icon fa-solid fa-comment"></i>
              <div>聊天室</div>
          </a>
          <a href="#" class="sidebar-item">
              <i class="sidebar-item-icon fa-solid fa-folder"></i>
              <div>檔案</div>
          </a>
          <a href="#" class="sidebar-item">
              <i class="sidebar-item-icon fa-solid fa-users"></i>
              <div>成員</div>
          </a>
      </div>
      <a href="#" class="back-link">
          <i class="sidebar-item-icon fa-solid fa-arrow-left"></i>
          <div>返回專案列表</div>
      </a>
  </div>
</div>