<div class="sidebar" id="sidebar">
    <h1 class="sidebar-title">任務管理系統</h1>

    <a href="{% url 'project' %}" class="sidebar-item {% if request.resolver_match.url_name == 'project' %}active{% endif %}">
        <i class="sidebar-item-icon fa-solid fa-folder-closed"></i>
        <div>專案</div>
    </a>
    <a href="{% url 'task_list' %}" class="sidebar-item {% if request.resolver_match.url_name == 'task_list' %}active{% endif %}">
        <i class="sidebar-item-icon fa-solid fa-file"></i>
        <div>任務</div>
    </a>
    <a href="#" class="sidebar-item {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
        <i class="sidebar-item-icon fa-solid fa-gear"></i>
        <div>系統</div>
    </a>
</div>