<div class="sidebar" id="sidebar">
    <a href="{% url 'project' %}"><h1 class="sidebar-title">任務管理系統</h1></a>
    <div class="sidebar-content">
        <div class="sidebar-menu">
            <a href="{% url 'project' %}" class="sidebar-item {% if request.path == '/project/' %}active{% endif %}">
                <i class="sidebar-item-icon fa-solid fa-folder-closed"></i>
                <div>專案</div>
            </a>
            <a href="{% url 'my_task' %}" class="sidebar-item {% if request.path == '/my_task/' %}active{% endif %}">
                <i class="sidebar-item-icon fa-solid fa-file"></i>
                <div>任務</div>
            </a>
            {% if user.is_superuser %}
            <a href="{% url 'backstage'%}" class="sidebar-item {% if request.path == '/backstage/' %}active{% endif %}">
                <i class="sidebar-item-icon fa-solid fa-gear"></i>
                <div>系統</div>
            </a>
            {% endif %}
        </div>
        {% if request.resolver_match.url_name == 'user_profile' %}
            <a href="{% url 'project' %}" class="back-link">
                <i class="sidebar-item-icon fa-solid fa-arrow-left"></i>
                <div>返回專案列表</div>
            </a>
        {% endif %}
    </div>
</div>