{% extends 'backstage_base.html' %}
{% load static %}
{% block title %}後臺管理|專案管理{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/backstage.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/create_project_dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/edit_project_dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/add_member_dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/edit_member_dialog.css' %}">
{% endblock %}
{% block content %}
<div class="project">
    <!-- Main Content -->
    <div class="main-content" id="mainContent">
        <div class="title-bar">
            <div class="title">系統概覽</div>
        </div>
        <div class="stats-grid">
            <!-- 總用戶數卡片 -->
            <div class="stats-card">
                <div class="stats-content">
                    <div class="stats-text">
                    <h3>總用戶數</h3>
                    <div class="stats-value">120</div>
                    <p class="stats-details">85 活躍 15 待審核</p>
                    </div>
                    <div class="stats-icon blue">
                    <i class="  fa-regular fa-user"></i>
                    </div>
                </div>
            </div>

            <!-- 專案總數卡片 -->
            <div class="stats-card">
                <div class="stats-content">
                    <div class="stats-text">
                    <h3>專案總數</h3>
                    <div class="stats-value">25</div>
                    <p class="stats-details">18 進行中 7 已完成</p>
                    </div>
                    <div class="stats-icon purple">
                    <i class="  fa-regular fa-folder-closed"></i>
                    </div>
                </div>
            </div>

            <!-- 專案總數卡片 -->
            <div class="stats-card">
                <div class="stats-content">
                    <div class="stats-text">
                    <h3>任務總數</h3>
                    <div class="stats-value">25</div>
                    <p class="stats-details">18 進行中 7 已完成</p>
                    </div>
                    <div class="stats-icon yellow">
                    <i class="  fa-regular fa-file"></i>
                    </div>
                </div>
            </div>

            <!-- 檔案數量卡片 -->
            <div class="stats-card">
                <div class="stats-content">
                    <div class="stats-text">
                    <h3>檔案數量</h3>
                    <div class="stats-value">356</div>
                    <p class="stats-details">總容量: 2.3 GB</p>
                    </div>
                    <div class="stats-icon green">
                    <i class="  fa-regular fa-folder"></i>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>

{% include 'dialog/edit_project_dialog.html'%}
{% include 'dialog/create_project_dialog.html' %}
{% include 'dialog/add_member_dialog.html' %}
{% include 'dialog/edit_member_dialog.html' %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/project.js' %}"></script>
<script src="{% static 'js/dialog.js' %}"></script>
<script src="{% static 'js/add_member_dialog.js' %}"></script>
<script src="{% static 'js/edit_member_dialog.js' %}"></script>
{% endblock %}