{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}project_system{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/base/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/variables.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/alert.css' %}">
  {% block extra_css %}
  {% endblock %}
</head>
<body>
  {% include 'layout/header.html' %}
  {% include 'layout/sidebar.html' %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <main class="content">
    {% block content %}
    {% endblock %}
  </main>
  <script src="{% static "js/layout.js" %}"></script>
  <script src="{% static "js/dialog.js" %}"></script>
  <script src="{% static "js/alert.js" %}"></script>
  {% block extra_js %}
  {% endblock %}
</body>
</html>