{% extends 'project_detail_base.html' %}
{% load static %}
{% block title %}{{ project.name }} | 專案詳情{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/dialog/create_task_dialog.css' %}">
<link rel="stylesheet" href="{% static 'css/dialog/add_member_dialog.css' %}">
<link rel="stylesheet" href="{% static 'css/frappe_gantt.css' %}">
<link rel="stylesheet" href="{% static 'css/member_list.css' %}">

{% endblock %}
{% block sidebar %}
{% include 'layout/project_detail_sidebar.html' %}
{% endblock %}
{% block header %}
{% include 'layout/project_detail_header.html' %}
{% endblock %}
{% block content %}
<div class="project-overview-container">
    <div class="title-bar">
      <h1 class="section-title">成員管理</h1>
      <button class="create-btn" id="openAddMemberBtn">
          <i class="create-icon fa-solid fa-plus"></i>
          新增成員
      </button>
    </div>

    <div class="search-container">
        <div class="search-box">
            <i class="search-icon fa-solid fa-search"></i>
            <input type="text" placeholder="搜尋成員..." class="search-input">
        </div>
    </div>

  <div class="members-container">
    {% for member in members %}
    <div class="member-item">
    <div class="member-info">
        <div class="member-avatar"></div>
        <div class="member-name">{{ member.name }}</div>
    </div>
    
    <div class="member-email">
        <i class="email-icon fa-solid fa-envelope"></i>
        {{ member.email }}
    </div>
    
    <div class="member-role">{{ member.role }}</div>
    
    <button class="remove-member-btn">
        <i class="remove-icon fa-solid fa-xmark"></i>
    </button>
</div>
    {% endfor %}
  </div>
</div>
{% include 'dialog/create_task_dialog.html' %}
{% include 'dialog/add_member_dialog.html' %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/add_member_dialog.js' %}"></script>
{% endblock %}
