{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> {% endcomment %}
  <title>{% block title %}任務管理系統{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/base/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/variables.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/alert.css' %}">
  <link rel="stylesheet" href="{% static 'css/components/breadcrumb.css' %}?v=20250608">
  <link rel="stylesheet" href="{% static 'css/layout/project_detail_header.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout/project_detail_sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/sweetalert2.css' %}">
  {% block extra_css %}
  {% endblock %}
</head>
<body>
  {% block sidebar %}
  {% endblock %}

  {% block header %}
  {% endblock %}

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <main class="content {% block content_class %}{% endblock %}">
    {% block content %}
    {% endblock %}
  </main>
  
  {% csrf_token %}
  <script src="{% static 'js/project_detail_layout.js' %}"></script>
  <script src="{% static 'js/dialog.js' %}"></script>
  <script src="{% static 'js/alert.js' %}"></script>
  <script src="{% static 'js/sweetalert2.js' %}"></script>
  {% block extra_js %}
  {% endblock %}
</body>
</html>