{% extends 'base.html' %}
{% load static %}
{% block title %}專案管理{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/create_project_dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/edit_project_dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/add_member_dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog/edit_member_dialog.css' %}">
{% endblock %}
{% block content %}
<div class="project">
    <!-- Main Content -->
    <div class="main-content" id="mainContent">
        <div class="title-bar">
            <div class="title">專案管理</div>
            <div class="actions">
                <div class="sort-dropdown">
                    排序方式
                    <i class="dropdown-icon fa-solid fa-caret-down"></i>
                    <select style="display:none;">
                        <option value="recent">最新建立</option>
                        <option value="name">名稱</option>
                        <option value="progress">進度</option>
                    </select>
                </div>
                <button class="create-btn" id="openCreateProjectBtn">
                    <i class="create-icon fa-solid fa-plus"></i>
                    建立專案
                </button>
            </div>
        </div>
        <div class="projects-grid" id="projectsGrid">
            {% for i in project_data %}
                <div class="project-card" style="cursor: pointer;">
                    <div onclick="window.location.href='{% url 'project_detail' i.project_id %}'">
                        <div class="card-header">
                            <div class="project-title">{{i.name}}</div>
                            <div class="status-null">未進行</div>
                        </div>
                        <div class="progress-label">
                            <div>進度</div>
                            <div>{{i.percent}}%</div>
                        </div>
                        <div class="progress-bar">
                            <div class="progress-fill" progress="{{i.progress}}"></div>
                        </div>
                        <div class="card-info">
                            <div class="user-avatar">
                                <img src="{{i.photo}}" class="avatar"></img>
                            </div>
                            <div class="date">
                                <i class="date-icon fa-regular fa-calendar"></i>
                                {{i.start_date}}
                                <span>~</span>
                                {{i.end_date}}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="tasks">12個任務</div>
                        <button class="btn-edit"  data-project-id="{{ i.project_id }}"><i class="fas fa-edit"></i></button>
                        <button class="btn-delete" data-project-id="{{ i.project_id }}"><i class="fas fa-times"></i></button>
                        <a href="{% url 'project_detail' i.project_id %}" class="details-btn">查看詳情</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'dialog/edit_project_dialog.html'%}
{% include 'dialog/create_project_dialog.html' %}
{% include 'dialog/add_member_dialog.html' %}
{% include 'dialog/edit_member_dialog.html' %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/project.js' %}"></script>
<script src="{% static 'js/dialog.js' %}"></script>
<script src="{% static 'js/add_member_dialog.js' %}"></script>
<script src="{% static 'js/edit_member_dialog.js' %}"></script>
{% endblock %}